<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
	.firstLine { background-color: lightgreen;}
	.lastLine { background-color: hotpink;}
</style>
<script th:inline="javascript">
	var blist = [[${boardlist}]];
	blist.map(item=>{console.log(item.title)});
	
</script>
</head>
<body>
	<h1>타임리프 연습 -- 지역변수</h1>
	<p >[[${#response.characterEncoding}]]</p><!-- 샵:내장객체 -->
	<p th:text="${@environment.getProperty('server.port')}"></p>
	<p th:text="${@environment.getProperty('app.title')}"></p>
	<p th:text="${session.loginUser3}"></p>
	<p th:text="${param.param1}"></p>
	<p>[[${#request.getParameter('param2')}]]</p>
	<p th:if="${not #lists.isEmpty(boardlist)}">값이 있다.</p>
	<p th:text="${#numbers.formatDecimal(salary,3,'COMMA',2,'POINT')}"></p>
	
	<table th:with="LoginUser=${LoginUser}, LoginUser2=${LoginUser2}">
		<tr>
			<td>순서(index)</td>
			<td>순서(count)</td>
			<td>짝수-홀수</td>
			<td>first-last</td>
			<td>board번호</td>
			<td>제목</td>
			<td>내용</td>
			<td>작성자</td>
			<td>작성일</td>
			<td>수정일</td>
			<td>댓글수</td>
		</tr>
		<tr th:each="board, rowStatus:${boardlist}"
			th:class="${rowStatus.first?'firstLine':''}"
			th:classappend="${rowStatus.last or rowStatus.count==5?'lastLine':''}"
		>
			<td th:text="${rowStatus.index}">순서(index)</td>
			<td th:text="${rowStatus.count}">순서(count)</td>
			<td th:text="|${rowStatus.odd} ** ${rowStatus.even}|"></td>
			<td th:text="${rowStatus.first+'--'+rowStatus.last}">짝수-홀수-first-last</td>
			<td th:text="${board.bno}">아래부분은 인라인방식</td>
			<td>[[${board.title}]]...[[${#strings.contains(board.title,'토요')}]]</td>
			<td>[[${board.content}]]</td>
			<td>[[${board.writer}]]
				<span th:if="${board.writer==LoginUser}">
					<button>수정</button>
				</span>
				<span th:unless="${board.writer==LoginUser}">
					<button>보기</button>
				</span>
			</td>
			<td th:text="${#dates.format(board.regdate,'yyyy-MM-dd')}"> </td>
			<td th:text="${#dates.format(board.updatedate,'yyyy-MM-dd')}"> </td>
			<!-- <td>[[${board.regdate}]]</td>
			<td>[[${board.updatedate}]]</td> -->
			<td>[[${board.replies.size()}]]</td>
		</tr>
	</table>
</body>
</html>